                                                        /*parent stylings*/

body{
    background-color: blanchedalmond;
  
}

#header{
    
    display: block;
    margin-top: 0px;
    width: 800px;
    border: 1px solid black;
    height: 20px;
}

                                                /* board table stylings*/

#setter{
    position: fixed;
    border-collapse: collapse;
    align: center;
    width: 1220;  
    height: 470;
    margin-top: 0px ;
    right: 0px;
    top: 0px;   
}

#board{
    position: fixed;
   border-collapse: collapse;
   align: center;
    width: 1220;  
    height: 470;
   /* margin: 10px auto;*/
    margin-top: 0px ;
    right: 0px;
    top: 0px;
   
}

/*.hover{
 
    background-color : salmon;
}*/

#welcome-msg{
    margin-top: 300px ;
   
    cursor: pointer;
    text-align: center;
}

#confirm-mines{
     cursor: pointer;
    
}

#setter{
    top: 0px;                               
    position: relative;
}

td{
    width:80;
    height: 50;
    font-size: 16px;
    text-align: right;
    align-content: center;   
    /*border-radius: 5px;*/
}

#board{
    top: 0px;
    position: relative;
}                                                     /* setter table stylings*/


.set{
    /*background-color: brown;*/
    background: url("https://cloud.githubusercontent.com/assets/12660118/8960411/6f094dd6-362d-11e5-92ff-e7758b6c6514.jpg") repeat ;
    background-position: center;
    cursor: URL("https://cloud.githubusercontent.com/assets/12660118/8960228/95acf3bc-362c-11e5-8489-0a8c559b8eee.png"), default;
   
}

.unset{
    /*background-color:blanchedalmond;*/
     background: url("https://cloud.githubusercontent.com/assets/12660118/8960194/73a9739e-362c-11e5-8070-3a84229ed3c5.jpg") repeat ;
        cursor: URL("https://cloud.githubusercontent.com/assets/12660118/8960359/287d42e6-362d-11e5-9745-b844ba4c88ec.gif"), default;
    
}

.exhausted{
    cursor: not-allowed;
}


/* fresh with missed*/
.fresh{   
     cursor: URL("https://cloud.githubusercontent.com/assets/12660118/8960207/820eb61a-362c-11e5-9de5-5e3649688d9f.gif"), default;
    background: url("https://cloud.githubusercontent.com/assets/12660118/8960374/377fea0a-362d-11e5-9277-e85d46ae4277.jpg") repeat-y ;
}

/* fresh1 with missed1*/
.fresh1{
     cursor: URL("https://cloud.githubusercontent.com/assets/12660118/8960207/820eb61a-362c-11e5-9de5-5e3649688d9f.gif"), default;
    background: url("https://cloud.githubusercontent.com/assets/12660118/8960327/05feb88a-362d-11e5-8c34-ea499de1cea4.jpg") repeat-y ;
}

.busted{
    background-color: brown;
    cursor: not-allowed;
     background: url("https://cloud.githubusercontent.com/assets/12660118/8960515/f3d4c914-362d-11e5-9eba-f7f5b4ddff93.gif") ;
    background-size: contain;
}

.missed{
    background-color:aliceblue;
    cursor: not-allowed;
    background: url("https://cloud.githubusercontent.com/assets/12660118/8960541/0d13c088-362e-11e5-9e7f-502372e796dc.jpg") repeat;
}

.missed1{
    background-color:aliceblue;
    
    cursor: not-allowed;
    background: url("https://cloud.githubusercontent.com/assets/12660118/8960260/ab85a5f8-362c-11e5-8718-5cbb722c4f72.jpg") repeat;
}
